header {
    font-family: 'PPNikkeiMaru', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://via.placeholder.com/1500') no-repeat center center/cover;

    .navbar {
        position: fixed;
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 10;
    }

    .header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }
}