#title {
  font-size: 4.2rem;
  margin: 0px 0px;
  color: transparent;
  font-weight: 800;
  background-image: linear-gradient(180deg,
      #f0f0f0,
      var(--FirstColor),
      #f0f0f0);
  background-clip: text;
  -webkit-background-clip: text;

}

#subtitle {
  font-size: 2rem;
}

#header-section {
  min-height: 40vh;
  padding-top: 120px;
  padding-bottom: 60px;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  #header-section {
    text-align: center;
  }
}

@keyframes morph {

  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }

  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }

  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.banner {
  width: 180px;
  height: 180px;
  object-fit: cover;
  animation: morph 3.5s linear infinite;
}

@media (min-width: 1200px) {
  .banner {
    width: 350px;
    height: 350px;
  }
}


#img-pattern {
  box-shadow: 1px 13px 10px rgba(0, 0, 0, 0.3);
}

#col-select {
  margin-top: 1em;
}

#select {
  width: 15%;
}

@media only screen and (max-width: 900px) {
  #select {
    width: 25%;
  }

}

@media only screen and (max-width: 900px) {
  #col-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


.custom-bg-light {
  height: 2000px;
  width: 2000px;
  opacity: 0.15;
  background-image: url('https://raw.githubusercontent.com/francovanney/fv2023/master/src/assets/Img/Fv-mosaico.png');
}

.custom-bg-dark {
  height: 2000px;
  width: 2000px;
  opacity: 1;
  background-image: url('https://raw.githubusercontent.com/francovanney/fv2023/ThemeContext/src/assets/Img/FV-Mosaico-Dark.png');
}


/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #585F60;
  transition: .5s;
  border-radius: 1em;
  z-index: 1;
}

.slider .circle {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #F1EEF5;
  transition: .5s;
  z-index: 5;
}

.divider {
  position: absolute;
  left: 0.65em;
  width: 0.8em;
  height: 1.4em;
  background-color: #03bcc9;
  z-index: 10;
  border-radius: 0 2em 2em 0;
  transition: .4s;
}

.switch input:checked+.slider {
  background-color: #eed202;
  z-index: 1;
}

.switch input:focus+.slider {
  box-shadow: 0 0 4px #191A28;
}

.switch input:checked+.slider .circle {
  transform: translateX(2em);
}

.switch input:checked+.slider .circle .divider {
  left: 0;
  width: 0.8em;
  border-radius: 2em 0 0 2em;
  background-color: #585F60;
  z-index: 10;
}

.lang-container {
  width: 50%;
  font-family: 'Bourton', sans-serif !important;

  &>button {
    font-family: 'Bourton', sans-serif !important;

    &:focus {
      box-shadow: none;
    }

    span {
      font-family: 'Bourton', sans-serif !important;
    }
  }

  .cds--content-switcher-btn,
  .cds--content-switcher__btn {
    font-family: 'Bourton', sans-serif !important;
  }
}