#contact-div {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


@media only screen and (max-width: 600px) {
    #contact-div {
        width: 75%;
    }
}

.form-background-dark {
    color: rgba(255, 255, 255, 0.90);
    background-color: #313131;
    &:focus {
        background-color: #313131;
        color: rgba(255, 255, 255, 0.90);
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.90);
    }
}

.form-background-light {
    background-color: #fff;
}