span {
    cursor: pointer;
}

.link-cv {
    color: white !important;
}

.tab {
    background-color: #1f2524 !important;
    height: 100px;
    color: #738883;
}

.nav-link {
    background-color: #1f2524 !important;
    text-align: left;
    color: #738883 !important;
    border-radius: 0px !important;

    &:active {
        color: #e6f0f7 !important;
    }
}


.acc-item {
    >button {
        font-family: var(--Font-Display);
        font-size: var(--fs-body);
        letter-spacing: var(--ls-wide);

        &:focus {
            box-shadow: none;
        }
    }

    p {
        font-family: var(--Font-Body);
        font-size: var(--fs-body);
        font-weight: 300;
        line-height: 1.7;
    }
}

.text-description {
    font-family: var(--Font-Body) !important;
    font-size: var(--fs-body) !important;
    font-weight: 300 !important;
    line-height: 1.7 !important;
}


.hi-icon {
    cursor: default;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(var(--FirstColor-rgb, 104, 211, 145), 0.7);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(var(--FirstColor-rgb, 104, 211, 145), 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(var(--FirstColor-rgb, 104, 211, 145), 0);
    }
}