.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--FirstColor);
  transform-origin: 0%;
}

/* Estilos para el texto de los enlaces activos en dispositivos de escritorio */
.links-desktop.active {
  font-weight: 700 !important;
  color: var(--FirstColor);
}

/* Estilos para el texto de los enlaces activos en dispositivos móviles */
.links-mobile.active {
  color: var(--FirstColor);
}

/// NEW STYLES //

#navbar {
  font-weight: 400;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;
  height: 57px;
  background-color: var(--WhiteColor);
}

/* Estilos para el Navbar en dispositivos móviles */
.navbar-nav {
  background-color: #f8f9fa;
  align-items: center;
  gap: 5vh;
  background-color: rgba(255, 255, 255, 0.7);
  /* Fondo blanco semi-transparente */
  color: black;
  /* Texto en negro */
  position: relative;
  /* Asegura que la posición de los elementos sea relativa */
  z-index: 1;
  /* Asegura que el Navbar esté sobre la imagen de fondo */
}

/* Estilos adicionales para el primer hijo solo en dispositivos móviles */
@media (max-width: 767px) {
  .navbar-nav:first-child {
    padding-top: 20px;
  }
}

/* Estilos adicionales para el último hijo solo en dispositivos móviles */
@media (max-width: 767px) {
  .navbar-nav:last-child {
    padding-bottom: 20px;
  }
}

.navbar-nav strong {
  font-size: 20px;
}

@media (max-width: 767px) {
  @supports ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
    .navbar-nav {
      background-color: rgba(255, 255, 255, 0.700);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
    }
  }

  @supports not ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
    .navbar-nav {
      background-color: white;
    }
  }
}



.logo-container {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-menu-open {
  background-color: #f8f9fa;
}

.links-mobile {
  cursor: pointer;
}

.links-desktop-light {
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400 !important;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(91, 91, 91);
}

.links-desktop-dark {
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400 !important;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(255, 255, 255);
}

// TOGGLE 

/* The switch - the box around the slider */
.switch-container {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-container .slider {
  --background: linear-gradient(to right, rgb(181, 181, 181), wheat);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  transition: background-color 0.5s;
  border-radius: 30px;
}

.switch-container .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px var(--FirstColor);
  background: var(--background);
  transition: transform 0.5s, box-shadow 0.5s;
}

.switch-container input:checked+.slider {
  background-color: #000;
}

.switch-container input:checked+.slider:before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0px 0px #000000;
}

.switch-container {
  margin-left: 20px;
}