footer {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 19%, rgba(23,190,210,1) 99%, rgba(0,0,0,1) 100%);
}

#footer-row {
    margin-top: 100px !important;
}