.text-description {
    font-size: .95em !important;
    font-weight: 300 !important;
}

.vertical-timeline-element-content {
    box-shadow: 0 2px 0 #76767659;
}

.project-description {
    font-size: .90em !important;
    font-weight: 500 !important;
}

.button-custom {
    width: 100% !important;
}

.preview-img {
    border-radius: 2%;
    cursor: default;
}

.tab-list {
    overflow-x: hidden;
}